.cont__about {}
.about__inner {
    > div {
        margin-bottom: 500px;
        font-family: var(--font-kor3);
        line-height: 1.6;
        color: var(--white);

        .about__title {
            font-size: 24px;
            margin-bottom: 50px;
            color: var(--white);
        }
        p {
            text-align: justify;
        }
    }
    .part1 {
        margin-top: 200px;

        img {
            margin-bottom: 50px;
            object-fit: cover;
        }
        p {
            width: 65%;
            font-size: 16px;
        }
    }
    .part2 {
        display: flex;
        justify-content: space-between;

        img {
            width: 65%;
            object-fit: cover;
        }
        div {
            width: 30%;
            font-size: 16px;
        }
    }
    .part3 {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        img {
            width: 65%;
            object-fit: cover;
        }
        div {
            width: 30%;
            font-size: 16px;
        }
    }
}